<h1>Aplicaciones y enlaces de los desarrollos django_project</h1>

<ul>
<li><p><a href="/polls/owner"><strong>Owner code</strong><a></p></li>
<li><p><a href="/admin">App <strong>Admin</strong>, suministrada por Django</a></p></li>
<li><p><a href="/polls">App <strong>Polls</strong> Aplicacion tutoriales Django</a></p></li>
<li><p><a href="/hello">Aplicacion <strong>Hello</strong>: Test the session y cookies</a></p></li>
<li><p><a href="/books">Aplicacion <strong>Books</strong> para practicar Django</a></p></li>
<li><p><a href="/autos">App <strong>Autos CRUD</strong></a></p></li>
<li><p><a href="/cats">App <strong>Cats CRUD</strong></a></p></li>
<li><p><a href="/ads">App <strong>Ads</strong> Owned Rows practice</a></p></li>
</ul>
