body{

}
#header{
  border-style: solid;
  border-color: yellow;
  border-width: 3px;
  background-color: lightblue;
  color: yellow;
  padding-left: 10px;
  margin: 10px;
}
.container{
    width: 95%;
}

#content{
  border-style: solid;
  border-color: green;
  border-width: 3px;
  background-color: lightgrey;
  color: blue;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
}
#footer{
  border-style: solid;
  border-color: blue;
  border-width: 3px;
  background-color: lightyellow;
  color: blue;
  padding-left: 10px;
  margin: 10px;
  height: 40px;
}
.now{
    color: green;
    margin: 10px;
    float: right;
}
.main_link{
    border: 3px solid blue;
    padding: auto;
    float: right;
    color: blue;
}
