body{
    border: 1px solid black;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#header{
  border: 3px solid yellow;
  background-color: lightblue;
  color: yellow;
  padding-left: 10px;
  height: 60px;
  margin: 5px;
}
#header h2{
    margin-top: 12px;
}
.appname{
    float: left;
}
.pagename{
    float: right;
    padding-right: 10px;
    margin-right: 10px;
}
.container{
    width: 98%;
}

#content{
  border: 3px solid green;
  background-color: lightgrey;
  color: blue;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
  height: 90%;
}

.add_link{
    float: right;
    margin-right: 10px;
}

.add_link_2{
    float: right;
    margin-right: 5px;
}

.line{
    width: 80%;
}

#footer{
  border: 3px solid blue;
  background-color: lightyellow;
  color: blue;
  padding-left: 10px;
  margin: 10px;
  height: 40px;
}

.now{
    color: green;
    margin: 10px;
    float: right;
}

.main_link{
    border: 3px solid blue;
    float: right;
    color: blue;
    padding: 3px;
    margin: 3px;
}
