body{

}
#header{
  border-style: solid;
  border-color: yellow;
  border-width: 3px;
  background-color: lightblue;
  color: yellow;
  padding-left: 10px;
  margin: 10px;
}
#content{
  border-style: solid;
  border-color: green;
  border-width: 3px;
  background-color: lightgrey;
  color: blue;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
}
#footer{
  border-style: solid;
  border-color: blue;
  border-width: 3px;
  background-color: lightyellow;
  color: blue;
  padding-left: 10px;
  margin: 10px;
}
