<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/polls/style.css">
    <title>{% block title %}Coursera LOCALHOST{% endblock %}</title>
</head>

<body>
    <div id="header">
        {% block header %}
        <h1>HEADER</h1>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        <h1>Content:</h1>
        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        <h2>FOOTER</h2>
        <p>It is {% now "jS F Y H:i" %}</p>
        {% endblock %}
        <br><a class='main_link' href="{% url 'main' %}">Main Page</a>
    </div>
</body>
</html>
