{% extends "books_base.html" %}

{% block header %}
<h2>Book List </h2>
{% endblock %}

{% block content %}

{% if book_list %}
    <ul>
    <span class="add_link">
        <i class="bi-plus-square" style="font-size: 3rem; color: cornflowerblue;"></i>
        <a href="{% url 'books:book_create' %}"> Add a new Book  </a>
    </span>

    {% for book in book_list %}
        <li><a href="{% url 'books:book' book.id %}">{{ book.title }} ({{book.pub_year}})</a>
            <span>
                <i class="bi-pencil-square" style="font-size: 3rem; color: green;"></i>
                <a href="{% url 'books:book_update' book.id %}">Update</a>
            </span>
            <span>
                <i class="bi-trash" style="font-size: 3rem; color: red;"></i>
                <a href="{% url 'books:book_delete'  book.id %}">Delete</a>
            </span>

        </li>
        <br>
    {% endfor %}
    </ul>
{% else %}
    <p>No books are available.</p>
{% endif %}

{% endblock %}
