{% extends "books_base.html" %}

{% block header %}
<h1>App: Books</h1>
{% endblock %}

{% block content %}

  <ul>
    <li class="line"><a href="/books/books">List of Books</a>
        <span>
            <i class="bi-plus-square" style="font-size: 3rem; color: cornflowerblue;"></i>
            <a href="{% url 'books:book_create' %}"> Add a new book  </a>
        </span>
    </li>
    <br>
    <li class="line"><a href="/books/authors">List of Authors</a>
        <span>
            <i class="bi-plus-square" style="font-size: 3rem; color: cornflowerblue;"></i>
            <a href="{% url 'books:author_create' %}"> Add a new author  </a>
        </span>
    </li>
  </ul>

{% endblock %}
